<h1>Eventbrite calendar connector</h1>
<p>
  Have all of your Eventbrite events appear in your calendar automatically.
</p>
<% unless logged_in? %>
  <p>
    <%= link_to "Connect to Cronofy", "/auth/cronofy" %>
  </p>
<% else %>
  <p>
    Connected to Cronofy as <%= current_user.email %>
  </p>

  <% unless current_user.eventbrite_credentials? %>

  <p>
    <%= link_to "Connect to Eventbrite", "/auth/eventbrite" %>
  </p>

  <% else %>

  <p>
    Connected to Eventbrite
  </p>

  <% end %>

<% end %>