<h2>Sync Always is not quite ready yet</h2>
<p>
  Sorry, doing a bit of a <a href="">Lean Startup</a> demand assessment on you there.
</p>
<p>
  It's great to know that you'd find this useful. As soon as it's ready, we'll let you know.
</p>
<p>
  <%= link_to "Back to home page", "/", class: 'btn btn-link' %>
</p>