    <section class="share">
      <h3>Share the joy...</h3>
      <a class="twitter-share-button"
        href="https://twitter.com/share"
        data-url="<%= root_url(utm_campaign: 'on_page', utm_medium: 'twitter', utm_source: 'app') %>"
        data-text="I'm loving the Eventbrite Calendar Connector by Cronofy"
        data-via="cronofy"
        data-count="none"
        >
      Tweet
      </a>

      <script type="IN/Share" data-url="<%= root_url(utm_campaign: 'on_page', utm_medium: 'linkedin', utm_source: 'app') %>"></script>

      <div class="fb-like" data-href="<%= root_url(utm_campaign: 'on_page', utm_medium: 'facebook', utm_source: 'app') %>" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>

    </section>