    <section class="share">
      <h3>Spread the word...</h3>
      <a class="twitter-share-button"
        href="https://twitter.com/share"
        data-url="<%= root_url(utm_campaign: 'on_page', utm_medium: 'twitter', utm_source: 'app') %>"
        data-text="I'm loving the Eventbrite Calendar Connector by Cronofy"
        data-via="cronofy"
        data-count="none"
        data-size="large">
      Tweet
      </a>
      <script>
      window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
      </script>
    </section>