$brand-success: rgb(73, 190, 216);
$body-bg: rgb(245, 243, 242);

@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  background-image: image-url('icon.png');
  background-repeat: no-repeat;
  background-size: 40px;
  padding-left: 46px;
}

section.share {
  h3 {
    color: $brand-success;
    font-size: 1em;
  }
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid $gray-lighter;
  li, p {
    font-size: 0.9em;
    color: rgb(90, 84, 77);
  }
}
